<ion-view view-title="About">
    <ion-content>
        <h1 class="title">About CleansingMusic.com</h1>

        <p>We love music. But even more, we love music you can listen to in the home or office and which your children,
            co-workers and others can listen to without the many offensive messages that some contain. We know there is
            music out there that we even enjoy, but when certain lyrics or messages are expressed, they take away from
            the quality that is found in the rest of the song. Hence, our music is cleansing and when we say that, it
            means that cleansing is spelled with two words, clean and sing. We aim to provide a clean singing option for
            your internet listening pleasure.</p>

        <h2>Our Mission</h2>

        <p>Cleansingmusic.com will only broadcast and support music that is non-offensive. We will not promote music
            that encourages immorality, glorifies violence, uses foul or offensive language, or promotes Satanism or
            other evil practices. We believe that music is a powerful influence. We also believe that there is much good
            in the music world in the past and today and we seek to promulgate as much of that good as possible. </p>

        <p>Please <a href="mailto:streamingclean@gmail.com">contact us</a> if you have any questions!</p>
    </ion-content>
    <footer-bar></footer-bar>
</ion-view>
