<ion-view view-title="Station">
    <ion-content>

        <h1 data-ng-bind="playlist.title"></h1>

        <p>Listen to this kind of music!</p>
        <!--<p><button class="button" ng-click="play('http://74.124.12.136:8014/')">Play last</button></p>-->


        <div id="player" class="row dislike-btn">

            <!--dislike-->
            <div class="col col-25">
                <a class="button button-icon icon ion-heart-broken"></a>
            </div>

            <!--play stop-->
            <div class="col col-50 play-btn">
                <a class="button button-icon icon ion-play" ng-hide="isPlaying()"
                   ng-click="play()"></a>
                <a class="button button-icon icon ion-stop" ng-show="isPlaying()"
                   ng-click="stop()"></a>
            </div>

            <!--like-->
            <div class="col col-25 like-btn">
                <a class="button button-icon icon ion-heart"></a>
            </div>

        </div>
    </ion-content>
</ion-view>
