# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

.idea/
npm-debug.log
*~
# ignore any apk files. We don't want to publish them to gihub
*.apk